/.cached*
/__pycache__*
/ips
/ipstools
/sim/modelsim*
/sim/ncompile/*
!/sim/ncompile/build.mk
/tests/*/
/pulp-runtime
/regression_tests

# Bender
/bender
/.bender
/sim/compile.tcl
/sim/transcript
/sim/work
/working_dir


# asic

/asic/librelane/runs/
*.odb
*.spef
*.nl.v
*.gds
*.lef
*.def
*.dot
*.h.json
*.pnl.v
*.png
*.sdf
*.sp
*.mag
/asic/librelane/flist.yaml

